body {
    overflow: hidden;
}

#toolbar,
#inspector {
    height: 100vh;
}
#inspector{
    display: flex;
    flex-direction: column;
}

#comps {
    width: 300px;
    overflow-y: auto;
    height: fit-content;
}

@media (max-width: 600px) {
    #inspector {
        width: 200px;
    }
}
#elem {
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
}

#workspace {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.CodeMirror {
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 2;
}

#workarea {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

#tooltxt {
    height: min-content;
    overflow-y: visible;
    flex-wrap: wrap;
}

#util {
    position: relative;
}


#props > *,
#comps form > * {
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
}

#props span:first-child,
form span:first-child {
    margin-right: auto;
    text-transform: capitalize;
}

.accordion-button {
    padding: 0.5rem 1rem;
}

#comps input:not([type="checkbox"]), #comps select, #comps textarea {
    width: 50%;
}
#props input, #props select, #props textarea {
    width: 70%;
}
#comps input[type="submit"] {
   float: right;
}